@media print {

@page { size: landscape;
margin: 0.3cm;

}

.canvas-area{
   margin-bottom:50px; 
   margin-top:50px;
border:1px solid red;   
height:16cm;
position:relative;
}

.page-break {position:absolute;display: block; height:40px; width:400px; background:red;top:558px; left:0px;  page-break-before:always; margin:0; border-top:none; }


}
header{display:none;}
#rgt-container{display:none;}
}